
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-12 text-center bg-white">
        <% if logged_in? %>
          <div>
            <a href="#" class="text-center btn-secondary">View All Task Lists</a>
            <a href="#" class="text-center btn-secondary">New Task List</a>
            <a href="#" class="text-center btn-secondary">Sign Out</a>
          </div>
          <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
        <% else %>
        <div>

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Log In</a></li>
            <li role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="login">
              <h1 class="log-in">Please Log In</h1>
              <%= render 'devise/sessions/new' %>
            </div>
            <div role="tabpanel" class="tab-pane" id="signup">
              <h1 class="log-in">Please Sign Up</h1>
              <%= render 'devise/registrations/new' %>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
